@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-hero {
    background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.9),
        rgba(0, 0, 0, 0.7)
      ),
      url("https://i.ibb.co/RjdqDMp/stream-gpt-bg.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
  }
}
