@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .hero-bg {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)
      ),
      url("https://i.ibb.co/RjdqDMp/stream-gpt-bg.webp");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
  }
}
